@font-face {
    font-family: rubik;
    src: url(fonts/RubikDoodleShadow-Regular.ttf);
}

@font-face {
    font-family: zic;
    src: url(fonts/Ziclets\ W00.ttf);
}

@font-face {
    font-family: fairy;
    src: url(fonts/FairyDust-Regular.ttf);
}

@font-face {
    font-family: superc;
    src: url(fonts/SuperCereal-owLDo.ttf);
}

